<style>
.custom-loyalty-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}




<div class="custom-loyalty-container">
  {%- if shop.customer_accounts_enabled -%}
    <a type="button" href="#" class="btn--link" onclick="avadaJoyTrigger();" style="line-height: 40px; cursor: pointer">
       {%- if customer -%}
         <p>YOU HAVE</p>
          {%- assign aj_point = customer.metafields.avada_joy.point | split: '' -%}
          {%- for digit in aj_point -%}
            {%- assign threeFromEnd = aj_point.size | minus: forloop.index | modulo: 3 -%}
            {%- if threeFromEnd == 2 and forloop.index != 1 -%}{{ digit | prepend: ',' }}{%- else -%}{{ digit }}{%- endif -%}
          {% endfor %} 
           {{ customer.metafields.avada_joy.point | pluralize: 'SKIN CLUB POINT', 'SKIN CLUB POINTS' }}
       {%- else -%}
          YOU DON'T HAVE ANY SKIN CLUB POINTS YET
        {%- endif -%}
    </a>
  {%- endif -%}
</div>


  

<style>
  
.custom-loyalty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.custom-loyalty-text {
  font-weight: normal;
}

.custom-loyalty-points {
  font-weight: bold;
  margin-left: 1px;
}

.custom-loyalty-phrase {
  font-weight: normal;
}

@media screen and (max-width: 740px) {
.custom-loyalty-container {
  margin-top: 3px;
  margin-bottom: 3px;
  }
}
  
</style>

<div class="custom-loyalty-container">
  {%- if shop.customer_accounts_enabled -%}
    <a type="button" href="#" class="btn--link" onclick="avadaJoyTrigger();" style="line-height: 40px; cursor: pointer">
       {%- if customer -%}
         <p>
           <span class="custom-loyalty-text">YOU HAVE</span>
           <span class="custom-loyalty-points">
             {%- assign aj_point = customer.metafields.avada_joy.point | split: '' -%}
             {%- for digit in aj_point -%}
               {%- assign threeFromEnd = aj_point.size | minus: forloop.index | modulo: 3 -%}
               {%- if threeFromEnd == 2 and forloop.index != 1 -%}{{ digit | prepend: ',' }}{%- else -%}{{ digit }}{%- endif -%}
             {% endfor %}
             <span class="custom-loyalty-phrase"> {{ customer.metafields.avada_joy.point | pluralize: 'SKIN CLUB POINT', 'SKIN CLUB POINTS' }}</span>
           </span>
         </p>
       {%- else -%}
         <p>
           <span class="custom-loyalty-text">YOU DON'T HAVE ANY SKIN CLUB POINTS YET</span>
         </p>
       {%- endif -%}
    </a>
  {%- endif -%}
</div>







{% schema %}
  {
    "name": "MS Loyalty Points",
    "class": "shopify-section--loyalty"
  }
{% endschema %}
