<section>
  <div class="link-bar custom-link-bar hidden-phone hide-scrollbar">
    <div class="container">
      <div class="link-bar__wrapper">
        <ul class="link-bar__linklist list--unstyled" role="list">
          
         
          
          <li class="link-bar__link-item">
           <a href="{{ section.settings.button_link }}" class="link-bar__link link--animated">{{ 'general.linklist.earn-points' | t }}</a>
         </li>

          <li class="link-bar__link-item">
           <a href="{{ section.settings.button_link2 }}" class="link-bar__link link--animated text--underlined">{{ 'general.linklist.rewards' | t }}</a>
         </li>

          {% comment %}
          <li class="link-bar__link-item">
           <a href="{{ section.settings.button_link3 }}" class="link-bar__link link--animated">{{ 'general.linklist.membership' | t }}</a>
         </li>
          {% endcomment %}

          <li class="link-bar__link-item">
           <a href="{{ section.settings.button_link4 }}" class="link-bar__link link--animated">{{ 'general.linklist.auto-replenishments' | t }}</a>
         </li>

           <li class="link-bar__link-item">
            <a href="{{ routes.account_url }}" class="link-bar__link link--animated">{{ 'customer.orders.title' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_addresses_url }}" class="link-bar__link link--animated">{{ 'customer.addresses.title' | t }}</a>
          </li>

          <li class="link-bar__link-item">
            <a href="{{ routes.account_logout_url }}" class="link-bar__link link--animated text--subdued" data-no-instant>{{ 'customer.logout.title' | t }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

   <div class="mobile-toolbar hidden-tablet-and-up">
    <button class="mobile-toolbar__item" is="toggle-button" aria-expanded="false" aria-controls="account-links-popover">{{- 'customer.orders.title' | t -}} {%- render 'icon' with 'chevron' -%}</button>
  </div>

  <popover-content id="account-links-popover" class="popover">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <span class="popover__title heading h6">{{- 'customer.general.title' | t -}}</span>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="popover__choice-list">
        <a href="{{ routes.account_url }}" class="popover__choice-item">
          <span class="popover__choice-label" aria-current="true">{{ 'customer.orders.title' | t }}</span>
        </a>

         <a href="{{ section.settings.button_link }}" class="popover__choice-item">
      <span class="popover__choice-label">{{ 'general.linklist.earn-points' | t }}</span>
        </a>

         <a href="{{ section.settings.button_link2 }}" class="popover__choice-item">
      <span class="popover__choice-label">{{ 'general.linklist.rewards' | t }}</span>
        </a>

        {% comment %}
         <a href="{{ section.settings.button_link3 }}" class="popover__choice-item">
      <span class="popover__choice-label">{{ 'general.linklist.membership' | t }}</span>
        </a>
        {% endcomment %}

        <a href="{{ section.settings.button_link4 }}" class="popover__choice-item">
      <span class="popover__choice-label">{{ 'general.linklist.auto-replenishments' | t }}</span>
        </a>

        <a href="{{ routes.account_addresses_url }}" class="popover__choice-item">
          <span class="popover__choice-label">{{ 'customer.addresses.title' | t }}</span>
        </a>

        <a href="{{ routes.account_logout_url }}" class="popover__choice-item text--subdued" data-no-instant>
          <span class="popover__choice-label">{{ 'customer.logout.title' | t }}</span>
        </a>
      </div>
    </div>
  </popover-content>
</section>

<div class="{% if section.settings.include_horizontal_margins %}container{% endif %} {% if section.settings.include_vertical_margins %}vertical-breather{% endif %}">
  {%- for block in section.blocks -%}
    {%- render block -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Linklist 2",
  "class": "shopify-section--membership",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_horizontal_margins",
      "label": "Include horizontal margins",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "include_vertical_margins",
      "label": "Include vertical margins",
      "default": true
    },
     {
          "type": "url",
          "id": "button_link",
          "label": "Earn points"
        },
     {
          "type": "url",
          "id": "button_link2",
          "label": "Rewards"
        },
     {
          "type": "url",
          "id": "button_link3",
          "label": "Membership"
        },
     {
          "type": "url",
          "id": "button_link4",
          "label": "Auto-Replenishment"
        }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Linklist 2"
    }
  ]
}
{% endschema %}




